{% extends 'base.html.twig' %}

{% block title %}Chester | Let's start crawling in the web's skin{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="homepage-title">Chester</h1>
        <form>
            <input type="text" name="pageLink" class="search-input">
            <button
                    class="search-button"
                    hx-disabled-elt="this"
                    hx-indicator="#loading"
                    hx-post="/extract"
                    hx-swap="innerHTML"
                    hx-target="#results"
                    hx-trigger="click"
                    type="button"
            >
                Crawl
            </button>
        </form>
        <div id="results">
        </div>
        <span class="htmx-indicator" id="loading">Loading...</span>
    </div>
{% endblock %}
