ul {
  list-style: none;
  white-space-collapse: discard;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

.tag {
  background-color: grey;
  padding: 5px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 10px;
  font-family: sans-serif;
}

.ichidan-verb-tag {
  background-color: red;
}

.transitive-verb-tag {
  background-color: blue;
}

.noun-tag {
  background-color: green;
}

.i-adjective-keiyoushi-tag {
  background-color: deeppink;
}

.adverb-fukushi-tag {
  background-color: yellow;
  color: black;
}

.suru-verb-tag {
  background-color: black;
}

.intransitive-verb-tag {
  background-color: teal;
}

.noun-which-may-take-the-genitive-case-particle-no-tag {
  background-color: aqua;
  color: black;
}

.na-adjective-keiyodoshi-tag {
  background-color: aquamarine;
  color: black;
}

li span[class^='godan-verb-with'] {
  background-color: blueviolet;
}

.counter-tag {
  background-color: brown;
}

.noun-used-as-a-suffix-tag {
  background-color: coral;
}

.numeric-tag {
  background-color: chartreuse;
  color: black;
}

.pronoun-tag {
  background-color: deepskyblue;
}

.auxiliary-adjective-tag {
  background-color: firebrick;
}

.godan-verb---ikuyuku-special-class-tag {
  background-color: dodgerblue;
}

.auxiliary-verb-tag {
  background-color: forestgreen;
}

.pre-noun-adjectival-rentaishi-tag {
  background-color: fuchsia;
}

.suffix-tag {
  background-color: gold;
}

.conjunction-tag {
  background-color: goldenrod;
}

.prefix-tag {
  background-color: hotpink;
}

.expressions-phrases-clauses-etc-tag {
  background-color: indianred;
}

.particle-tag {
  background-color: indigo;
}

.noun-or-verb-acting-prenominally-tag {
  background-color: lawngreen;
  color: black;
}

li span:is([class^='irregular-'], [class$='-verb-tag']) {
  background-color: lavender;
  color: black;
}

.noun-used-as-a-prefix-tag {
  background-color: lightblue;
  color: black;
}

.definition-sense {
  color: gray;
  font-size: 12px;
  font-weight: lighter;
}

.suru-verb-included-tag {
  background-color: lime;
  color: black;
}

.kuru-verb-special-class-tag {
  background-color: magenta;
  color: black;
}

.adverb-taking-the-to-particle-tag {
  background-color: maroon;
}

.container {
  align-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.search-button {
  background-color:#54a0ff;
  border: 1px solid #54a0ff;
  border-radius: 25px;
  color:white;
  height: 50px;
  width: 100px;
}

.search-button:hover {
  background-color:#2e86de;
  border: 1px solid #2e86de;
  cursor: pointer;
  font-weight: bold;
}

.search-button:disabled {
  background-color:#8395a7;
  border: 1px solid #8395a7;
  cursor: not-allowed;
}

.search-input {
  border:1px solid gray;
  border-radius: 25px;
  height: 50px;
  width: 600px;
  font-size: 24px;
}

.homepage-title {
  font-family: sans-serif;
  font-size: 60px
}